@font-face {
    font-family: gilroy;
    src: url("../fonts/web/gilroyextrabold.woff") format("woff"),
    url("../fonts/web/gilroyextrabold.woff2") format("woff2");

    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: gilroy;
    src: url("../fonts/web/gilroylight.woff") format("woff"),
    url("../fonts/web/gilroylight.woff2") format("woff2");

    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: opensans;
    src: url("../fonts/web/opensans.woff") format("woff"),
    url("../fonts/web/opensans.woff2") format("woff2");

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: opensans;
    src: url("../fonts/web/opensanslight.woff") format("woff"),
    url("../fonts/web/opensanslight.woff2") format("woff2");

    font-weight: 300;
    font-style: normal;
}

html {
    overflow-x: hidden;
}

body {
    font-family: gilroy, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.button {
    position: relative;
    z-index: 1;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    font-family: 'gilroy', sans-serif;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2em;
    background: 0 0;
    border: 0;
    cursor: pointer;
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2px;
    z-index: -1;
    width: inherit;
    height: 8px;
    margin-top: -4px;
    background-color: #f0c52e
    ;
}

.button:hover::before {
    top: 0;
    z-index: -1;
    height: 40px;
    margin: 0;
    background-color: #f0c52e;
    transition: all .3s linear;
}

.main-header {
    position: relative;
    background-color: #f7e296;
    margin-top: 40px;
}

.header-logo a {
    position: absolute;
    top: -24px;
    left: 60px;
    font-family: 'Gilroy', sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-decoration: none;
    color: #000000;
    font-weight: 800;
}

.main-navigation {
    display: flex;
    width: 1040px;
    padding-left: 60px;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 162px;
}

.user-navigation {
    display: flex;
    width: 1040px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
}

.user-form {
    position: relative;
}

.user-item-form {
    position: relative;
}

.search-label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    z-index: 2;
    top: 15px;
    left: 6px;
}

.search-form {
    position: relative;
    width: 356px;
    box-sizing: border-box;
    padding-left: 40px;
    padding-bottom: 13px;
    padding-top: 15px;
    border: none;
    background-color: #f7e296;
    outline: none;
}

.search-form:focus ~ .search-label::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #000000;
    width: 355px;
    bottom: -2px;
    z-index: 20;
    left: 0;
}

.search-button {
    position: absolute;
    top: 11px;
    left: 358px;
    visibility: hidden;
    border: none;
    border: 2px solid #000000;
    background-color: #f7e296;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 11px;
    margin-left: -4px;
    margin-top: -5px;
}

.search-form:focus + .search-button {
    visibility: visible;
}

.search-button:hover {
    visibility: visible;
    background-color: #000000;
    color: #ffffff;
}

.user-item {
    display: flex;
}

.user-item-form {
    width: 441px;
    margin-right: 127px;
}

.user-item-login {
    margin-right: 208px;
}

.user-login {
    padding-left: 30px;
    position: relative;
}

.user-login::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../svg/user.svg);
    background-repeat: no-repeat;
    left: 0;
    top: 10px;
}

.user-item-compare {
    margin-right: 35px;
}

.user-compare {
    padding-left: 30px;
    position: relative;
}

.user-compare::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../svg/compare.svg);
    background-repeat: no-repeat;
    left: 0;
    top: 10px;
}

.user-cart {
    padding-left: 30px;
    position: relative;
}

.user-cart::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../svg/cart.svg);
    background-repeat: no-repeat;
    left: 0;
    top: 10px;
}

.user-navigation a {
    font-family: 'opensans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
    text-decoration: none;
    align-self: center;
}

.site-navigation {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-item > a {
    font-family: 'gilroy', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2em;
}

.navigation-item-catalog {
    margin-right: 315px;
    position: relative;
}

.navigation-item-catalog::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../svg/plus.svg);
    background-repeat: no-repeat;
    right: -36px;
    top: 5px;
    opacity: 0.3;
}

.navigation-item-delivery {
    margin-right: 20px;
}

.navigation-item-guarante {
    margin-right: 124px;
}

.catalog-navigation-wrap {
    position: absolute;
    z-index: 2;
    display: none;
    width: 1100px;
    left: -60px;
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 60px;
    background-color: #f7e296;
}

.navigation-item-catalog:hover .catalog-navigation-wrap {
    display: block;
}

.catalog-navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 640px;
    justify-content: space-between;
    letter-spacing: .01em;
}

.catalog-navigation-item {
    display: flex;
    flex-direction: column;
    width: 200px;
    font-family: 'opensans', sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: .01em;
}

.catalog-navigation-item:first-child {
    width: 240px;
}

.catalog-navigation-item a {
    color: #000000;
    text-decoration: none;
}

.slides {
    position: relative;
    z-index: 1;
}

.promo-slider-item {
    position: relative;
    display: flex;
    position: relative;
    margin-top: -112px;
}

.promo-slider-item::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 8px;
    background-color: #ffffff;
    left: 600px;
    top: 40px;
}

.promo-slider-item-1::after {
    content: "01";
    position: absolute;
    font-size: 180px;
    line-height: 180px;
    font-weight: 800;
    color: #ffffff;
    right: 52px;
    top: -18px;
}

.promo-slider-item-2::after {
    content: "02";
    position: absolute;
    font-size: 180px;
    line-height: 180px;
    font-weight: 800;
    color: #ffffff;
    right: 52px;
    top: -18px;
}

.promo-slider-item-3::after {
    content: "03";
    position: absolute;
    font-size: 180px;
    line-height: 180px;
    font-weight: 800;
    color: #ffffff;
    right: 52px;
    top: -18px;
    z-index: -3;
}

.promo-slider-item {
    display: none;
}

#promo-control-1:checked ~ .promo-slider-item-1,
#promo-control-2:checked ~ .promo-slider-item-2,
#promo-control-3:checked ~ .promo-slider-item-3 {
    display: flex;
}

.promo-slider-item-1 {
    padding-bottom: 104px;
}

.promo-slider-item-2 {
    padding-bottom: 105px;
}

.promo-slider-item-3 {
    padding-bottom: 123px;
}

.promo-item-img {
    width: 560px;
    margin-right: 40px;
    text-align: center;
}

.promo-item-description {
    width: 560px;
    position: relative;
    padding-top: 78px;
}

.promo-item-title {
    font-size: 47px;
    line-height: 56px;
    font-weight: 800;
    padding-bottom: 20px;
    display: block;
    margin: 0;
}

.promo-item-info {
    margin: 0;
    padding: 0;
}

.promo-item-button {
    width: 220px;
    margin-top: 45px;
    margin-bottom: 50px;
}

.promo-item-table {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.promo-item-table-1 {
    width: 460px;
}

.promo-table-top-first,
.promo-table-top-second,
.promo-table-top-third {
    font-family: 'gilroy', sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
}

.promo-table-bottom-first,
.promo-table-bottom-second,
.promo-table-bottom-third {
    font-family: 'opensans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}

.promo-item-table-1 .promo-table-top-first,
.promo-item-table-1 .promo-table-bottom-first {
    width: 160px;
}

.promo-item-table-1 .promo-table-top-second, 
.promo-item-table-1 .promo-table-bottom-second {
    width: 140px;
}

.promo-item-table-1 .promo-table-top-third,
.promo-item-table-1 .promo-table-bottom-third {
    width: 160px;
}

.promo-item-table-2 {
    width: 200px;
}

.promo-item-table-2 .promo-table-top-first,
.promo-item-table-2 .promo-table-bottom-first {
    width: 200px;
}

.promo-item-table-3 {
    width: 300px;
}

.promo-item-table-3 .promo-table-top-first,
.promo-item-table-3 .promo-table-bottom-first {
    width: 160px;
}

.promo-item-table-3 .promo-table-top-second,
.promo-item-table-3 .promo-table-bottom-second {
    width: 140px;
}

.promo-slider-controls {
    position: absolute;
    width: 80px;
    display: flex;
    justify-content: space-between;
    right: 60px;
    bottom: 253px;
    z-index: 1;
}

.promo-slider-control {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

#promo-control-1:checked ~ .promo-slider-controls label[for="promo-control-1"]::before,
#promo-control-2:checked ~ .promo-slider-controls label[for="promo-control-2"]::before,
#promo-control-3:checked ~ .promo-slider-controls label[for="promo-control-3"]::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    left: 2px;
    top: 2px;
}

.product-category-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.product-category-list a {
    text-decoration: none;
}

.category-icon {
    width: 160px;
    height: 160px;
    background-color: #f7e296;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-title {
    font-family: 'gilroy', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;
    text-decoration: none;
}

.services {
    position: relative;
    padding-bottom: 140px;
}

.services::before {
    content: "";
    position: absolute;
    background-color: #e5e5e5;
    background-size: 100%;
    background-size: cover;
    width: 100%;
    height: calc(100% - 178px);
    top: 178px;
    z-index: -1;
}

.services .container {
    display: flex;
}

.services-control {
    position: relative;
    padding-right: 125px;
    padding-top: 155px;
}

.services-control::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 319px;
    background-color: #000000;
    left: 278px;
    top: 80px;
}

.service-slider-item {
    width: 460px;
    margin-left: 116px;
    padding-top: 155px;
    display: none;
    position: relative;
}

.service-slider-delivery::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url(../img/delivery.png);
    background-repeat: no-repeat;
    left: 600px;
}

.service-slider-warranty::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url(../img/warranty.png);
    background-repeat: no-repeat;
    left: 600px;
}

.service-slider-credit::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url(../img/credit.png);
    background-repeat: no-repeat;
    left: 600px;
}

#service-item-1:checked ~ .service-slider-delivery, 
#service-item-2:checked ~ .service-slider-warranty, 
#service-item-3:checked ~ .service-slider-credit {
    display: block;
}

.service-slider-title {
    margin-top: 0;
    font-size: 47px;
    line-height: 48px;
    font-family: 'gilroy', sans-serif;
    font-weight: 800;
    padding-bottom: 25px;
    margin-bottom: 0;
}

.service-slider-info {
    font-family: 'opensans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}

.services-control-label {
    position: relative;
    z-index: 1;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    font-family: 'gilroy', sans-serif;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2em;
    background: 0 0;
    border: 0;
    cursor: pointer;
    width: 160px;
    margin-bottom: 15px;
}

.services-control-label:hover {
    transition: all .3s linear;
}

.services-control-label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2px;
    z-index: -1;
    width: inherit;
    height: 8px;
    margin-top: -4px;
    background-color: #f0c52e;
    color: #000000;
}

.services-control-label:hover::before {
    top: 0;
    z-index: -1;
    height: 40px;
    margin: 0;
    background-color: #f0c52e;
    transition: all .3s linear;
}

.services-control-label::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    height: 40px;
    width: 0px;
    background-color: #000000;
    color: #f7e184;
    left: 98%;
}

#service-item-1:checked ~ .services-control .services-control-label-1::after, 
#service-item-2:checked ~ .services-control .services-control-label-2::after, 
#service-item-3:checked ~ .services-control .services-control-label-3::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    height: 40px;
    width: 122px;
    background-color: #000000;
    color: #f7e184;
    transition: all .3s linear;
}

#service-item-1:checked ~ .services-control .services-control-label-1::before,
#service-item-2:checked ~ .services-control .services-control-label-2::before,
#service-item-3:checked ~ .services-control .services-control-label-3::before {
    color: #f0c52e;
    background-color: #000000;
    height: 40px;
    top: 0;
    z-index: -1;
    height: 40px;
    margin: 0;
}

#service-item-1:checked ~ .services-control .services-control-label-1,
#service-item-2:checked ~ .services-control .services-control-label-2,
#service-item-3:checked ~ .services-control .services-control-label-3 {
    color: #f0c52e;
}

.companies-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.companies-item img {
    -webkit-filter: grayscale(1); /* Webkit браузеры */  
    filter: gray; /* для IE6-9 */  
    filter: grayscale(1); /* W3C */  
    opacity: 0.3;
}

.companies-item a:hover img {
    -webkit-filter: grayscale(0); /* Webkit браузеры */  
    filter: none; /* для IE6-9 */  
    filter: grayscale(0); /* W3C */  
    opacity: 1;
}

.about-contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 80px;
}

.about {
    width: 460px;
    position: relative;
}

.about::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 8px;
    background-color: #000000;
}

.about-title {
    font-family: 'gilroy', sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
}

.about-text {
    font-family: 'opensans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.about-text-1 {
    margin-bottom: 30px;
}

.about-text-2 {
    margin-bottom: 60px;
}

.transport-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
}

.transport-item {
    position: relative;
    padding-left: 35px;
    font-family: 'gilroy', sans-serif;
    font-weight: 800;
}

.transport-item::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border: 3px solid #e5e5e5;
    border-radius: 50%;
    left: 0;
    top: 10px;
}

.contact {
    width: 560px;
    position: relative;
}

.contact::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 8px;
    background-color: #000000;
}

.contact-title {
    font-family: 'gilroy', sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
}

.contact-text {
    font-family: 'opensans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 30px;
}

.map-contact {
    margin-bottom: 54px;
}

.about-button {
    width: 260px;
}

.write-button {
    width: 260px;
}

.main-footer {
    background-color: #464646;
}

.main-footer .container {
    display: flex;
    flex-direction: column;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
    margin-bottom: 34px;
}

.footer-title {
    font-family: 'gilroy', sans-serif;
    font-size: 48px;
    line-height: 49px;
    font-weight: 800;
    color: #ffc600;
    text-decoration: none;
}

.footer-user-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 470px;
    justify-content: space-between;
    box-sizing: border-box;
}

.footer-user-navigation li {
    padding-left: 40px;
}

.footer-user-navigation a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'opensans', sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
}

.footer-user {
    position: relative;
}

.footer-user::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url(../svg/user-footer.svg);
    background-repeat: no-repeat;
    top: 5px;
    left: -30px;
}

.footer-compare {
    position: relative;
}

.footer-compare::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url(../svg/compare-footer.svg);
    background-repeat: no-repeat;
    top: 5px;
    left: -30px;
}

.footer-cart {
    position: relative;
}

.footer-cart::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url(../svg/cart-footer.svg);
    background-repeat: no-repeat;
    top: 5px;
    left: -30px;
}

.footer-center {
    display: flex;
    justify-content: space-between;
}

.footer-address {
    font-family: 'opensans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
}

.footer-bottom {
    position: relative;
}

.footer-bottom::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 7px;
    background-color: #ffc600;
    top: 15px;
}

.footer-bottom-navigation {
    display: flex;
    justify-content: center;
}

.footer-site-navigation {
    align-self: center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'gilroy', sans-serif;
    display: flex;
    width: 430px;
    justify-content: space-between;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: .2em;
}

.footer-site-navigation a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-telephone {
    font-family: 'opensans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
}

.footer-bottom {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.social-list {
    width: 145px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    margin-left: 507px;
}

.footer-developer-link {
    margin-left: auto;
}

.catalog-body .main-navigation {
    padding-bottom: 50px;
}

.catalog-body .user-item-login {
    margin-right: 17px;
}

.user-item-logout {
    margin-right: 20px;
}

.user-item-logout a {
    opacity: 0.6;
}

.shop-catalog-title {
    font-family: 'gilroy', sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    padding-left: 60px;
}

.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-family: 'opensans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    padding-left: 60px;
}

.breadcrumbs-item {
    margin-right: 40px;
    position: relative;
}

.breadcrumbs-item a {
    color: #b2b2b2;
    text-decoration: none;
}

.breadcrumbs-item::before {
    content: ">";
    position: absolute;
    right: -20px;
    top: 1px;
}

.breadcrumbs-item:last-child::before {
    content: "";
}

.catalog-page-wrap {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 50px;
}

.sidebar {
    position: relative;
    align-items: flex-end;
    margin-left: 60px;
    background-color: #efefef;
}

.sidebar::before {
    content: "";
    position: absolute;
    top: 0;
    background-color: #efefef;
    width: 100vh;
    right: 268px;
    height: 100%;
    z-index: -1;
}

.sidebar-title {
    font-family: 'gilroy', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: .2em;
    text-transform: uppercase;
    background-color: #dbdbdb;
    margin: 0;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 181px;
    position: relative;
}

.sidebar-title::before {
    content: "";
    position: absolute;
    top: 0;
    background-color: #dbdbdb;
    width: 100vh;
    right: 268px;
    height: 70px;
    z-index: -1;
}

.goods-filter {
    width: 202px;
    padding-right: 68px;
    padding-top: 60px;
}

.goods-filter fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}

.price-wrap {
    border-top: 2px solid #000000;
    padding-top: 10px;
    padding-bottom: 25px;
}

.price-legend {
    font-family: 'gilroy', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    padding-bottom: 20px;
}

label[for="min-price"],
label[for="max-price"] {
    font-family: 'gilroy', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #c5c5c5;
}

.min-price,
.max-price {
    border: none;
    background-color: #efefef;
    width: 60px;
    font-family: 'gilroy', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #c5c5c5;
}

.min-price {
    margin-right: 14px;
}

.range-controls {
    position: relative;
    margin-bottom: 10px;
}

.range-controls .scale {
    height: 2px;
    background-color: #dbdbdb;
}

.range-controls .bar {
    width: 60%;
    height: 2px;
    background-color: #91c92f;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;
    
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.range-toggle-max {
    left: 60%;
}

.color-wrap {
    border-top: 2px solid #000000;
    padding-top: 10px;
    padding-bottom: 25px;
}

.color-legend {
    font-family: 'gilroy', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    padding-bottom: 20px;
}

.color-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.color-item {
    padding-left: 40px;
    padding-bottom: 17px;
    position: relative;
}

.color-item label {
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
}

.color-item label::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url(../svg/checkbox-off.svg);
    background-repeat: no-repeat;
    left: 0;
    top: 2px;
}

.color-item input:checked + label::before {
    background-image: url(../svg/checkbox-on.svg);
}

.bluetooth-wrap {
    border-top: 2px solid #000000;
    padding-top: 10px;
    padding-bottom: 25px;
}

.bluetooth-legend {
    font-family: 'gilroy', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    padding-bottom: 20px;
}

.bluetooth-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.bluetooth-list li {
    padding-left: 40px;
    padding-bottom: 17px;
    position: relative;
}

.bluetooth-list label {
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
}

.bluetooth-list label::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url(../svg/radio-off.svg);
    background-repeat: no-repeat;
    left: 0;
    top: 2px;
}

.bluetooth-list input:checked + label::before {
    background-image: url(../svg/radio-on.svg);
}

.form-button {
    width: 200px;
}

.goods {
    width: 760px;
    box-sizing: border-box;
}

.sorting-block {
    display: flex;
    padding-left: 70px;
    width: 760px;
    position: relative;
    margin-bottom: 70px;
}

.sorting-block::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100%;
    background-color: rgba(0,0,0,.08);
}

.sorting-title {
    font-family: 'gilroy', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 0;
    padding-top: 23px;
    padding-bottom: 23px;
    margin-right: 54px;
}

.sorting-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    width: 300px;
    justify-content: space-between;
    font-family: 'opensans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.sorting-list a {
    color: #adadad;
    text-decoration: none;
}

.sorting-list .current-sorting {
    color: #000000;
}

.sort-buttons {
    width: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.sort-buttons .sort-button-down, 
.sort-buttons .sort-button-up {
    width: 0;
    height: 0;
    padding: 0;
    border-style: solid;
    border-width: 10px 5.5px 0;
    border-color: #010101 #ebebeb #ebebeb;
}

.sort-buttons .sort-button-up {
    margin: 0;
    border-width: 0 5.5px 10px;
    border-color: #ebebeb #ebebeb #a6a6a6;
}

.goods-list {
    width: 760px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 70px;
}

.goods-item {
    width: 360px;
}

.goods-hover {
    position: absolute;
    width: 360px;
    height: 380px;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
    vertical-align: middle;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.goods-button {
    width: 200px;
}

.goods-hover:hover img {
    opacity: 0.3;
}

.goods-item:hover .goods-hover {
    display: flex;
}

.add-to-compare {
    font-family: 'opensans', sans-serif;
    font-size: 13px;
    line-height: 36px;
    font-weight: 300;
    color: #777777;
    text-decoration: none;
}

.goods-info {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 42px;
}

.goods-info a {
    color: #000000;
    text-decoration: none;
}

.goods-title {
    font-family: 'gilroy', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    margin: 0;
}

.goods-price {
    margin: 0;
}

.pagination-block {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    background-color: #ebebeb;
    width: 760px;
    margin-bottom: 75px;
}

.pagination-block a {
    font-family: 'gilroy', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2em;
}

.pagination-back {
    align-self: center;
    padding-left: 30px;
    padding-top: 24px;
    padding-bottom: 22px;
}

.pagination-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-self: center;
    width: 90px;
    justify-content: space-between;
}

.pagination-next {
    align-self: center;
    padding-right: 30px;
    padding-top: 24px;
    padding-bottom: 22px;
}

.catalog-body .footer-logout {
    margin-left: -40px;
}

.modal-write {
    position: fixed;
    background-color: #ffffff;
    top: 50%;
    margin-top: -328.5px;
    z-index: 5;
    left: 50%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-left: -480px;
    box-shadow: 0px 0px 20px 3px black;
}

.modal-form {
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    justify-content: space-between;
    position: relative;
}

.form-name-wrap {
    width: 360px;
    margin-bottom: 30px;
}

.form-email-wrap {
    width: 360px;
    margin-bottom: 30px;
}

.modal-write label {
    font-family: 'gilroy', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}

.name-input {
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 14px;
}

.email-input {
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 14px;
}

.form-mail-wrap {
    width: 760px;
    margin-bottom: 40px;
}

.mail-input {
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 14px;
}

.button-submit {
    width: 200px;
}

.button-close {
    position: absolute;
    border: none;
    width: 55px;
    height: 55px;
    background-color: #f7e296;
    border-radius: 50%;
    right: -60px;
    top: -50px;
    cursor: pointer;
}

.button-close::before,
.button-close::after {
    content: "";
    position: absolute;
    width: 30px;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -2px;
    height: 4px;
    background-color: #ffffff;
}

.button-close::before {
    transform: rotate(45deg);
}

.button-close::after {
    transform: rotate(-45deg);
}

.modal-show {
    display: flex;
    animation-name: bounce;
    animation-duration: 0.6s;
}

@keyframes bounce {
    0% {transform: translateY(-2000px);}
    80% {transform: translateY(10px);}
    90% {transform: translateY(-10px);}
    100% {transform: translateY(0px);}
}

@keyframes shake {
    0%, 100% {transform: translateX(0px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
}

.modal-error {
    animation-name: shake;
    animation-duration: 0.6s;
}

.modal-map {
    display: none;
    position: fixed;
    left: 50%;
    margin-left: -480px;
    top: 50%;
    margin-top: -280px;
    z-index: 5;
}

.modal-map .button-close {
    top: 45px;
    right: 10px;
}

.modal-map-show {
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s;
}